<div class="main-div">
  <h1 class="title-index">Notre vision</h1>
    <div class="card-vision">
      <div class="card-index">
        <div class="card-body d-flex align-items-center flex-column">
        <i class="fas fa-boxes fa-3x icon-color"></i>
        <h4 class="title-vision-card">Matières premières</h4>
        <p class="title-vision-card">Déchets voués à être jetés</p>
      </div>
    </div>
  </div >
  <div class="card-vision-center">
      <div class="card-index-creation">
        <div class="card-body d-flex align-items-center flex-column">
        <i class="fas fa-lightbulb fa-3x icon-color"></i>
        <h4 class="title-vision-card-création">Création !</h4>
        <p class="title-vision-card">Fabrication artisanale</p>
        </div>
      </div>
      <div>
        <div class="card-body d-flex flex-column align-items-center ">
          <%= image_tag "logo.png", class: "logo-card" %>
        </div>
      </div>
      <div class="card-index">
        <div class="card-body d-flex align-items-center flex-column">
        <i class="fas fa-recycle fa-3x icon-color"></i>
        <h4 class="title-vision-card">Recyclage</h4>
        <p class="title-vision-card">Limiter l'impact carbone</p>
        </div>
      </div>
  </div >
  <div class="card-vision-bottom">
      <div class="card-index">
        <div class="card-body d-flex align-items-center flex-column">
        <i class="fas fa-flag fa-3x icon-color"></i>
        <h4 class="title-vision-card">Fabrication locale</h4>
        <p class="title-vision-card">100% Made in France</p>
        </div>
      </div>
      <div class="card-index">
        <div class="card-body d-flex align-items-center flex-column">
        <i class="fas fa-trash fa-3x icon-color"></i>
        <h4 class="title-vision-card">Zéro déchet</h4>
        <p class="title-vision-card">Réutiliser plutôt que jeter</p>
        </div>
      </div>
     
  </div >
  
</div>