<div class="jumbotron">
  <div class="container-jumbo">
    <p class="princip">Contribuez à la consomation responsable durable locale</p>
    <button type="button" class="btn btn-success btn-lg">Nos artisans(lien vers map)</button>
  </div>
</div>