<div class="jumbotron">
  <h3>Contribuez à la consomation responsable durable locale</h3> 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

