<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et merci pour ta demande !</h1>
    <p>
      Tu as fait une demande pour ouvrir un compte artisan sur notre compte avec cet email : <%= @user.email %>.
    </p>
    <p>
      Nous tacherons de donner une réponse à ta demande dans les plus brefs délais !</a>.
    </p>
    <p> À très vite sur <a href="http://localhost:3000/">nouveauxdesigns.fr</a> !
  </body>
</html>
