<div class="jumbotron">
  <h1 class="text-center p-4">Voici les produits de </h1>
  <hr class="my-4">
  <h4 class="text-center p-4">It uses utility classes for typography and spacing to space content out within the larger container.</h4>
</div>