<div>
<br>
  <h4 class="h3 text-center mt-3 mb-4 ml-3"> Découvrez nos artisans engagés dans une démarche</h4>
  <h4 class="h3 text-center mt-3 mb-4 ml-3">de développement durable et transparente</h4>
  <br><hr>
  <div class="d-flex-maker">
    <% @shops.each do |shop| %>
      <div class="card-maker">
        <div class="card-body d-flex align-items-center flex-column">
          <h5 class="card-title"><%= shop.name %></h5>
            <%= image_tag ("2.jpg"), class: "card-img-top rounded" %>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"> <%= shop.maker.description %></small></p>
          <%= link_to "Voir plus", shop_path(shop.id), :class =>"btn btn-primary" %>
        </div>
      </div>
    <%end %>
    </div>
</div>