<%= render 'jumbotron_show', shop: @shop %>

<div class="container">
  <div class="row justify-content-center mb-4 mt-3">
    <h1>Nos articles</h1>
  </div>
    <% if current_maker && current_maker.is_validated && current_maker.shop.id == @shop.id %>
      <div class="row justify-content-center mb-5 mt-1" >
      <%= link_to "Editer ma boutique", edit_shop_path, :class=>"fas fa-store" %>
      </div>
    <% end %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @shop.items.each do |item| %>
     <% if !item.is_archived %>
      <div class="text-center col justify-content-center d-flex" id="grid-col-<%= item.id %>">
        <%= render 'items/card', item: item %>
      </div>
     <% end %>
    <% end %>
  </div>
</div>
