<div class="row justify-content-center mb-5 mt-3"> <h1>Mon Panier </h1>
  <div class="container row">
    <% cart.cart_sections.each do |cart_section_key, cart_session_value| %>
    <% shop = Shop.find_by(id: cart_section_key.to_i)%>
     <div class="cart-section-container">
      <h3>Shop: <%=shop.name%></h3>
      <% cart_session_value.each do |cart_item| %>
        <div class="cart-item-container">
          <h4><%=cart_item.item.name%></h4>
          <div><%=cart_item.cart_quantity%></div>
          
        </div>
      <% end %>
      <%= link_to "Commander les objets de #{shop.name}", new_order_path(:cart_id => cart.id, :section_id => cart_section_key.to_i), :class => "ml-3 btn btn-success" %>
     </div>
    <% end %>
    

  </div>
</div>