<% shop = Shop.find_by(id: key.to_i)%>

<div>
  Boutique: <%=shop.name%>
</div>
<div class="cart-section-container d-flex flex-row border border-primary">
<% value.each do |cart_item| %>
  <div class="cart-item-container p-2 bd-highlight justify-content-center">
    <div class="d-flex">
      <div>futur photo</div>
      <div><%=cart_item.item.name%></div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <i class="fas fa-minus-square "></i>
        <div class="ml-3 mr-3">
          <%=cart_item.cart_quantity%>
        </div>
        <i class="fas fa-plus-square "></i>
      </div>
    </div>
  </div>
<% end %>
</div>
