<br>
  <h4 class="h1 text-center mt-3 mb-4 ml-3"> Parcourez les produits de la catégorie <%=category.name%></h4>
  <h5 class="text-center mt-3 mb-4 ml-3">Petite description de la catégorie</h5>
  <br><hr><br>