<%= render 'jumbotron_category', category: @category %>

<div class="container">
  <div class="d-flex-maker">
    <% @category.items.each do |item| %>
     <% if !item.is_archived %>
     <div class="text-center col justify-content-center d-flex" id="grid-col-<%= item.id %>">
      <%= render 'items/card', item: item %>
      </div>
     <% end %> 
    <% end %>
  </div>
</div>
