<!-- Footer -->

<footer class="page-footer font-small blue pt-4">
  <hr>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row py-4 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Le mot de la fin</h5>
        
        <p>Be careful about the coronavirus hein.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Réseaux sociaux</h5>
        
        <ul class="list-unstyled">
          <li>
            <i class="fab fa-facebook-square"></i>
            <a href="https://www.facebook.com/LatelierdesNouveauxDesigns/">Facebook</a>
          </li>
          <li>
          <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/company/atelier-des-nouveaux-designs/">Linkedin</a>
          </li>

        </ul>

      </div>

     <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">A propos</h5>
        
        <ul class="list-unstyled">
          <li>
            <a href="#!">Devenir créateur</a>
          </li>
          <li>
            <a href="#!">CGV</a>
          </li>
          <li>
            <a href="#!">Mentions légales</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
        </ul>

      </div>
      
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Aide</h5>
        
        <ul class="list-unstyled">
          <li>
            <a href="#!">Nous contacter</a>
          </li>
          <li>
            <p> 49 Rue Smith 69002 Lyon, France </p>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Upcycling:
    <a href="https://fr.wikipedia.org/wiki/Surcyclage"> Upcyclez et vous verrez</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->