<footer id="footer-color" class="page-footer font-small blue p-4 mt-3">
  <div id="div-adjust" class="container container-footer">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4 class="underline footer-font-size pt-2">Réseaux sociaux</h4>
        <ul class="list-unstyled">
          <li>
            <i class="fab fa-facebook-square"></i>
            <a class="text-white" href="https://www.facebook.com/LatelierdesNouveauxDesigns/">Facebook</a>
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
            <a class="text-white" href="https://www.linkedin.com/company/atelier-des-nouveaux-designs/">Linkedin</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-12">
				<h4 class="underline footer-font-size pt-2"> A propos </h4>
				<ul class="list-unstyled">
          <li>
            <% if user_signed_in? %>
              <%= link_to "Devenir artisan ?", new_maker_path, :class=> "text-white" %>
              <% else %>
              <%= link_to "Devenir artisan ?", new_user_session_path, :class=> "text-white" %>
            <% end %>
            
          </li>
          <li>
            <a class="text-white" href="#!">CGV</a>
          </li>
          <li>
            <a class="text-white" href="#!">Mentions légales</a>
          </li>
          <li>
            <a class="text-white" href="#!">FAQ</a>
          </li>
				</ul>
			</div>

      <div class="col-md-4 col-sm-12">
				<h4 class="underline footer-font-size pt-2"> Aide </h4>        
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Nous contacter</a>
          </li>
          <li>
            <p> 49 Rue Smith 69002 Lyon, France </p>
          </li>
        </ul>
			</div>
    </div>
  </div>
  <div class="footer-copyright text-center mt-3">© 2020 Upcycling:
    <a class="text-white" href="https://fr.wikipedia.org/wiki/Surcyclage"> Upcyclez et vous verrez</a>
  </div>
</footer>

